<div th:fragment="langbar" class="langBox">
  <div class="lang langTop">언어 선택</div>
  <button type="button" class="lang" onclick="selectLang(0)">C/C++</button>
  <button type="button" class="lang" onclick="selectLang(1)">C#</button>
  <button type="button" class="lang" onclick="selectLang(2)">Java</button>
  <button type="button" class="lang" onclick="selectLang(3)">Python</button>
  <button type="button" class="lang" onclick="selectLang(4)">Html/Css</button>
  <button type="button" class="lang" onclick="selectLang(5)">JavaScript</button>
  <button type="button" class="lang" onclick="selectLang(6)">TypeScript</button>
  <button type="button" class="lang" onclick="selectLang(7)">Kotlin</button>
  <button type="button" class="lang" onclick="selectLang(8)">Swift</button>
  <button type="button" class="lang" onclick="selectLang(9)">Go</button>
  <button type="button" class="lang" onclick="selectLang(10)">Rust</button>
  <button type="button" class="lang" onclick="selectLang(11)">기타</button>
</div>
