<div th:fragment="langbar" class="langBox">
  <button class="lang langTop">언어 선택</button>
  <button type="button" class="lang" value="1" onclick="selectLang(1)">
    C/C++
  </button>
  <button type="button" class="lang" value="2" onclick="selectLang(2)">
    C#
  </button>
  <button type="button" class="lang" value="3" onclick="selectLang(3)">
    Java
  </button>
  <button type="button" class="lang" value="4" onclick="selectLang(4)">
    Python
  </button>
  <button type="button" class="lang" value="5" onclick="selectLang(5)">
    Html/Css
  </button>
  <button type="button" class="lang" value="6" onclick="selectLang(6)">
    JavaScript
  </button>
  <button type="button" class="lang" value="7" onclick="selectLang(7)">
    TypeScript
  </button>
  <button type="button" class="lang" value="8" onclick="selectLang(8)">
    Kotlin
  </button>
  <button type="button" class="lang" value="9" onclick="selectLang(9)">
    Swift
  </button>
  <button type="button" class="lang" value="10" onclick="selectLang(10)">
    Go
  </button>
  <button type="button" class="lang" value="11" onclick="selectLang(11)">
    Rust
  </button>
  <button type="button" class="lang" value="12" onclick="selectLang(12)">
    기타
  </button>
  <button type="button" class="lang langBottom" onclick="selectLang(-1)">
    선택 취소
  </button>
</div>
