<div th:fragment="langbar" class="langBox">
  <button class="lang langTop">언어 선택</button>
  <button type="button" class="lang" onclick="selectLang(1)">C/C++</button>
  <button type="button" class="lang" onclick="selectLang(2)">C#</button>
  <button type="button" class="lang" onclick="selectLang(3)">Java</button>
  <button type="button" class="lang" onclick="selectLang(4)">Python</button>
  <button type="button" class="lang" onclick="selectLang(5)">Html/Css</button>
  <button type="button" class="lang" onclick="selectLang(6)">JavaScript</button>
  <button type="button" class="lang" onclick="selectLang(7)">TypeScript</button>
  <button type="button" class="lang" onclick="selectLang(8)">Kotlin</button>
  <button type="button" class="lang" onclick="selectLang(9)">Swift</button>
  <button type="button" class="lang" onclick="selectLang(10)">Go</button>
  <button type="button" class="lang" onclick="selectLang(11)">Rust</button>
  <button type="button" class="lang" onclick="selectLang(12)">기타</button>
  <button type="button" class="lang langBottom" onclick="selectLang(-1)">
    선택 취소
  </button>
</div>
