<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/board/view.js"></script>
    <link rel="stylesheet" href="/css/view.css" />
  </head>
  <body>
    <div class="container">
      <div th:replace="~{ /header.html :: header }"></div>

      <section class="viewTop">
        <div>
          <span class="mname"></span>
          <span class="bview"></span>
          <span class="cdate"></span>
        </div>
        <div>
          <span class="cname"></span>
          <span class="btitle"></span>
        </div>
      </section>

      <section class="viewMid">
        <div class="bcontent"></div>
      </section>

      <section class="viewBottom">
        <div th:replace="~{ /reply/reply.html :: reply }"></div>
      </section>
    </div>
  </body>
</html>
