/* 헤더 */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
#header_right {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 8px;
  height: 100%;
}
#header_right > span {
  background-color: skyblue;
}
.link {
  display: flex;
  text-align: center;
}
#logo {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  margin-left: 40px;
}
#logo > a > img {
  width: 100%;
  object-fit: contain;
}
.login {
  /* background-color: #5885af; */
}
.login > a {
  color: #283640;
  padding: 10px;
  padding-bottom: 6px;
  font-size: 16px;
  font-family: "SBAggroB";
}
.login > a:hover {
  color: #6aabd2;
}

/* 메뉴 */
.menuNav {
  display: flex;
  position: absolute;
  left: 0;
  top: 120px;
  align-items: center;
  gap: 10px;
  padding: 8px;
  padding-left: 350px;
  background-color: #f0f0f0;
  width: 100vw;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
.menu {
  background-color: #6aabd2;
  border-radius: 10px;
}
.menu > a {
  color: white;
  padding: 14px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "SBAggroB";
}
