/* 헤더 */
header {
  display: flex;
  justify-content: space-between;
}
#header_right {
  list-style: none;
  display: flex;
  gap: 10px;
}
#header_right > span {
  background-color: skyblue;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메뉴 */
nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu {
  background-color: skyblue;
}
.menu > a {
  color: white;
  font-size: 24px;
}
