.boardList {
  display: flex;
  gap: 50px;
}
.list_main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_right {
  width: 20%;
}
.write {
  width: 120px;
  background-color: #5885af;
  border: 2px solid grey;
  color: white;
}
.write > a {
  padding: 10px;
  font-family: "SBAggroB";
}

.title {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.pagebox {
  margin: 40px;
}
.key {
  font-family: "SBAggroB";
}
.searchBox {
  display: flex;
  gap: 5px;
}
.searchButton {
  background-color: #5885af;
  font-family: "SBAggroB";
}

.langBox {
  top: 250px;
  right: 12%;
  position: fixed;
  background-color: #e5e5e5;
  border-radius: 8px;
  padding: 6px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.lang {
  text-align: center;
  height: 50px;
  border-radius: 8px;
  font-size: 14px;
  background-color: #6aabd2;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "SBAggroB";
}
.lang:hover {
  background-color: #5885af;
}

.langTop {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 18px;
}
.langTop:hover {
  background-color: #6aabd2;
}

.langBottom {
  grid-area: 8 / 1 / 9 / 3;
  font-size: 18px;
}
