/* 웹 폰트 */
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 모든 폰트를 웹 폰트로 변경 */
* {
  font-family: "SBAggroB";
}

body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-signup {
  padding: 30px;
  background-color: #fff;

  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 상자에 그림자 추가 */
  text-align: center;
}

.form-signup-heading {
  margin-bottom: 30px;
  font-size: 30px;
  color: #333;
  text-align: center;
}

.form-control {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; /* 인풋 박스 라운딩 */
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

.logo {
  width: 200px;
}
