.viewTop {
  margin-top: 8px;
  padding: 30px;
}
.viewMid {
  margin: 8px;
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.viewMidBottom {
  display: flex;
  justify-content: space-between;
}
.viewBottom {
  margin: 8px;
}

.bracket {
  font-size: 22px;
}
.cnameB {
  font-size: 22px;
}
.btitleB {
  font-size: 22px;
}
.mnameB {
  font-weight: bold;
  font-size: 20px;
}

.blikeBox {
  width: 100px;
}
.blikeBox > span {
  font-size: 24px;
}
.updateBox {
  margin-right: 180px;
  display: flex;
  gap: 20px;
}
.update {
  background-color: #2e3b42;
  border: 2px solid grey;
  padding: 10px;
  padding-bottom: 8px;
}
.update > a {
  font-family: "SBAggroB";
  color: white;
  text-decoration: none;
}
.updateBox > button {
  background-color: #2e3b42;
  border: 2px solid grey;
  color: white;
  padding: 10px;
  padding-bottom: 8px;
  font-family: "SBAggroB";
}
