.viewTop {
  margin-top: 8px;
  padding: 30px;
}
.viewMid {
  margin: 8px;
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.viewBottom {
  margin: 8px;
}

.blikeBox > span {
  font-size: 24px;
}
.blikeBox {
  width: 100px;
}

.bracket {
  font-size: 22px;
}
.cnameB {
  font-size: 22px;
}
.btitleB {
  font-size: 22px;
}

.mnameB {
  font-weight: bold;
  font-size: 20px;
}
