.viewTop {
  margin: 8px;
  border: 1px solid black;
}
.viewMid {
  margin: 8px;
  border: 1px solid black;
}
.viewBottom {
  margin: 8px;
  border: 1px solid black;
}

.btn {
  margin: 5px;
}

.replyContent {
  display: flex;
  justify-content: space-between;
  align-content: center;
}