<!DOCTYPE html>
<html lang="en" th:fragment="footer">
  <head>
    <meta charset="UTF-8" />
    <title>footer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-container">
        <div class="footer-links">
          <ul>
            <img
              src="/img/devboard.png"
              style="width: 10%; margin-bottom: 10px"
            />
            <li>프로젝트명 : DevBoard</li>
            <li>제작 기간 : 2025-02-03 ~ 2025-02-17</li>
            <li>팀원 : 박건희, 김민선, 오병준, 송정아</li>
            <li><br /></li>
            <li>
              DevBoard 사이트의 모든 콘텐츠, 정보, UI, HTML 소스 등에 대한
              <br />
              복제, 전송, 배포, 크롤링, 스크래핑 등의 행위는 허용됩니다.
              감사합니다.
            </li>
          </ul>
        </div>
        <div class="footer-social">
          <a href="https://github.com/UnitePdk/dev_community" target="_blank"
            >Project Git Link</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
