<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>main page</title>
  </head>
  <body>
    <div class="container">
      <div th:replace="~{ /header.html :: header }"></div>
      <div class="mainPage">
        <h3>다양한 유저들이 만들어가는 Dev-Square</h3>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          style="width: 70%"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div
            class="carousel-inner"
            style="
              border: 5px solid grey;
              border-radius: 8px;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
            "
          >
            <div class="carousel-item carouselImg active">
              <a href="board/ask">
                <img src="/img/c4.jpg" class="d-block w-100" alt="..."
              /></a>
            </div>
            <div class="carousel-item carouselImg">
              <a href="board/advertise">
                <img src="/img/c1.jpg" class="d-block w-100" alt="..."
              /></a>
            </div>
            <div class="carousel-item carouselImg">
              <a href="board/tutoriall">
                <img src="/img/c3.jpg" class="d-block w-100" alt="..."
              /></a>
            </div>
            <div class="carousel-item carouselImg">
              <a href="board/question">
                <img src="/img/c2.jpg" class="d-block w-100" alt="..."
              /></a>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div th:replace="~{ /footer.html :: footer }"></div>
  </body>
</html>
