<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reply.css" />
  </head>
  <body>
    <div class="container">

      <div th:replace="~{ /header.html :: header }"></div>

<!-- 상단 댓글 창-->
      <form class="replyform">
        <div class="replyContent">
          <textarea class="rcontentInput form-control" placeholder="댓글을 작성하세요."> </textarea>
          <button class="btn btn-primary" onclick="onReplyWrite()" type="button"> 등록 </button>
        </div>
      </form>

      <div class="reply-list">
        <div class="reply">
          <div class="reply-header">
            <div class="reply-author">
              <div class="author-profile"></div>
              <span class="mname"></span>
            </div>
          </div>
          <div class="rcontent"> 예시용으로 넣기 </div>
          <div class="reply-action">
            <div class="action-button">
              <span>❤</span>
              <span class="relike-count">예시1</span>
            </div>
            <span class="cdate"></span>
          </div>
          <div class="edit-delete-buttons">
            <button class="edit-button">수정</button>
            <button class="delete-button">삭제</button>
          </div>
        </div>
      </div>

      <script src="/js/reply.js"></script>

    </div>
  </body>
</html>