<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>message page</title>
  </head>
  <body>
    <h3>Message.Html</h3>
    <!-- 헤더 html 플러그인  -->
    <div th:replace="~{ /header.html :: header }"></div>

    <div class="container">
      <!-- 헤더 부분분 -->
      <div class="header">
        <div class="header_right">로고고</div>

        <div class="header_left">로그인 상태</div>
      </div>
      <!-- 메인 왼쪽 박스 부분 -->
      <nav>
        <div class="rightbox"></div>
        <div class="left box">
          <!-- btn btn-primary 부트스트랩 css -->
          <button class="btn btn-primary" type="button" onclick="location.href='/board/write' ">쪽지 쓰기</button>
        </div>
      </nav>
    </div>
  </body>
</html>
