<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css" />
    <script src="/js/board/list.js" defer></script>
    <script src="/js/board/search.js" defer></script>
  </head>
  <body>
    <div class="container" data-cno="4">
      <div th:replace="~{ /header.html :: header }"></div>

      <table class="table">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>

      <nav aria-label="Page navigation">
        <ul class="pagination pagebox"></ul>
      </nav>

      <div th:replace="~{ /board/search.html :: search }"></div>
    </div>
  </body>
</html>
