<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/view.css" />
  </head>
  <body>
    <div class="container">
      <div th:replace="~{ /header.html :: header }"></div>

      <section class="viewTop">
        <div>
          <span class="bracket">[</span>
          <span class="cnameB"></span>
          <span class="bracket">]</span>
          <span class="btitleB"></span>
        </div>

        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-right: 200px;
          "
        >
          <div>
            <span class="mnameB"></span>
          </div>
          <div style="display: flex; gap: 10px">
            <span>조회</span>
            <span class="bviewB"></span>
            <span>|</span>
            <span>좋아요</span>
            <span class="blikeB"></span>
            |
            <span class="cdateB"></span>
          </div>
        </div>
      </section>

      <hr />

      <section class="viewMid">
        <div class="bcontentB"></div>
        <div class="action-button blikeBox" onclick="boardLike()">
          <span>❤</span>
          <span class="blike"></span>
        </div>
      </section>

      <hr />

      <section class="viewBottom">
        <div th:replace="~{ /reply.html :: reply }"></div>
      </section>

      <script src="/js/board/view.js"></script>
    </div>
    <div th:replace="~{ /footer.html :: footer }"></div>
  </body>
</html>